            <h1>등록확인</h1>
            <div class="form">
[% IF form_messages %]
              <ul class="error">
[% FOREACH msg IN form_messages %]
                <li>[% c.config.messages.${msg.key}.${msg.value} %]</li>
[% END %]
              </ul>
[% END %] 
              <form action="[% c.config.url %]user/confirm" method="post" id="login-form">
                <fieldset>
                  <legend>등록확인</legend>
                  <dl>
		    <dt><label for="email">email</label>: </dt><dd><input type="text" name="email" size="30" id="email" /></dd>
		    <dt><label for="password">비밀번호</label>: </dt><dd><input type="password" name="password" size="10" id="password" /></dd>
                  </dl>
                  <div class="button"><input type="submit" value="등록확인" /></div>
                </fieldset>
              </form>
            </div>
