[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 2005 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): A. Karl Kornel <karl@kornel.name>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "sudo: 다른 사용자인 척하기" %]

<p>
  [%+ terms.Bugzilla %]에서는 <i>sudo session</i> 기능을 제공합니다.
  이 기능을 사용하면 다른 사용자인 척할 수 있습니다.
  다른 사용자인 척하는 동안은 그에 해당하는 권한을 가집니다.
</p>

<p>
  [% terms.Bugzilla %]에서 다른 사용자인 척하는 동안은
  대역 사용자가 모든것을 수행하는 것처럼 동작합니다.
  이 기능은 특히 테스트를 할 때나,
  대역 사용자로는 가능하지 않은 위험한 작업을 할때 유용합니다.

  다른 사용자인 척하는 시점에 [% terms.Bugzilla %]는
  대역 사용자에게 전자우편을 보낼 것입니다;
  전자우편에는 단지 위의 내용만 들어갑니다.
</p>

<p>
  이 기능을 사용하기 위해 해당 집단에 속해야 합니다.
  기본으로 모든 관리자는 이 집단에 속합니다.
  다른 사용자나 다른 그룹의 구성원은 상황에 따라
  접근 권한을 얻을 수 있습니다.
  접근 권한이 필요하다면 관리자에게 문의하세요:
  <a href="mailto:[% Param("maintainer") %]">
  [%- Param("maintainer") %]</a>.
</p>

<p>
  대역 사용자 기능을 막으려면 관리자에게 가능한지 문의하세요.
  이 기능을 사용하면 자동으로 사람들의 접근을 막을 수 있습니다.
</p>

<p id="message">
  [% IF user.groups.bz_sudoers %]
    <b>bz_sudoers</b> 집단의 구성원입니다.
    다른 사람인 척하는 기능을 사용할 수 있습니다.
  [% ELSE %]
    대역 기능 집단의 구성원이 아닙니다.
    다른 사람인 척하는 기능을 사용할 수 없습니다.
  [% END %]
  [% IF user.groups.bz_sudo_protect %]
    <br>
    <b>bz_sudo_protect</b> 집단의 구성원입니다.
    다른 사람이 여러분인 척 할 수 없습니다.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
