<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <title>2008 Korean Perl Workshop</title>
  </head>
  <body>
    <div id="container">
      <div id="navigation">
        <div class="center">
          <ul>
            <li><a href="index.html">새소식</a></li>
            <li><a href="schedule.html">일정</a></li>
            <li><a href="location.html" class="selected">위치</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="links.html">링크</a></li>
            <li><a href="register.html">참가신청</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="box box_top center">
        </div>
        <div class="box box_middle center">

