      <div id="footer">
        <div class="box box_bottom center">
          <div class="width33 float_left">
            <div class="footer_block">
              <h2>Korean Perl Workshop</h2>
              <p>
                <span><a href="http://groups.google.com/group/perl-kr-conf-2008">메일링리스트 가입</a></span> |
                <span><a href="mailto:keedi.k _AT_ gmail _DOT_ com">기타 문의</a></span>
              </p>
            </div>
          </div>
          <div class="width33 float_left">
            <div class="footer_block">
              <h2>.</h2>
            </div>
          </div>
          <div class="width33 float_left">
            <div class="footer_block">
              <h2>.</h2>
            </div>
          </div>
        </div>
        <p class="clear_both_thin">&nbsp;</p>
        <p>Copyright © Seoul Perl Mongers, Korea. All rights reserved.</p>
      </div>
