[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]Welcome to [% terms.Bugzilla %][% END %]

[% PROCESS global/header.html.tmpl
   title = title
   header_addl_info = "version $constants.BUGZILLA_VERSION"
   style_urls = [ 'skins/standard/index.css' ]
%]

<div id="welcome-admin">
  <p>[% user.identity FILTER html %]님, 환영합니다.</p>

  <p>이 페이지는 아직 핵심 매개변수들이 설정되지 않았을 때 출력됩니다.
  이 페이지의 목적은 설치를 올바르게 마치기 위한 마지막 단계들을 알려주는 데 있습니다.</p>

  <p>관리자에게는 관리를 위한 링크들이 현재 페이지의 끝에 생성됩니다.
  이 링크들은 어느 페이지에서나 존재할 것입니다. 이들 링크 중에는, 적어도 한번은 반드시
  방문해야하는 <a href="editparams.cgi">매개변수</a> 페이지도 있습니다.
  이 페이지에서 설치를 위한 모든 중요한 매개변수들을 설정할 수 있습니다.
  By clicking this link, you will be able to set among others:</p>

  <ul>
    <li><a href="editparams.cgi?section=core#maintainer">maintainer</a>는 설치가
    의 잘못되었을 때 책임이 갖는 사람입니다.</li>

    <li><a href="editparams.cgi?section=core#urlbase">urlbase</a>는 설치 페이지로
    연결되는 URL입니다. 또한 이메일에 사용될 수도 있습니다. (이것은 또한 당신이 이 페이지를
    보게되는 이유이기도 합니다: 이 매개변수가 설정되지 않으면, 계속 이 페이지를 보게 될
    것입니다)</li>

    <li><a href="editparams.cgi?section=core#cookiepath">cookiepath</a>는
    당신의 브라우저가 쿠키를 제대로 관리하기 위해 중요합니다.</li>

    <li><a href="editparams.cgi?section=core#utf8">utf8</a>은 원하는 모든 텍스트를
    UTF-8로 인코딩할 수 있도록 합니다. (이 매개변수를 켜는 것을 강력히 권함)</li>
  </ul>

  <p>또한 다음 매개변수들이 매우 중요합니다:</p>

  <ul>
    <li><a href="editparams.cgi?section=auth#requirelogin">requirelogin</a>는 , if turned
    on, will protect your installation from users having no account on this installation.
    In other words, users who are not explicitly authenticated with a valid account
    cannot see any data. This is what you want if you want to keep your data private.</li>

    <li><a href="editparams.cgi?section=auth#createemailregexp">createemailregexp</a>
    는 이 설치에서 계정을 만들 수 있는 사용자를 정의할 수 있습니다. 값을 ".*" (기본값) 으로 설정하면 누구든 자신의 계정을
    만들 수 있게 됩니다. 그리고 "@mycompany.com$"으로 설정하면 @mycompany.com 계정을 가진 사용자만 허용됩니다.
    공백으로 놔두게 되면, 사용자들은 자신이 직접 계정을 생성할 수 없습니다. 만약 공개적인 설치를 원하시지 않는다면, 반드시
    이 변수는 기본값과 다르게 설정하십시오.</li>

    <li><a href="editparams.cgi?section=mta#mail_delivery_method">mail_delivery_method</a>
    는 sendmail 이나 SMTP와 같이 이메일을 보내는 방식을 정의합니다. 정확히 설정해야 이메일을 보낼 수 있습니다.</li>
  </ul>

  <p>
    이 모든 설정을 마치면, [% terms.Bugzilla %]의 나머지 매개변수들도 한번 볼 것을 권합니다. 이들이 어떤 역할을 하는지
    이해하고 당신의 설치에 이들을 수정하고 싶은지 알 수 있습니다.
  </p>
</div>

[% PROCESS global/footer.html.tmpl %]
