[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE
  # none
  # 
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]
  새 [% terms.Bugzilla %] 계정 만들기
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<p>
  [% terms.Bugzilla %] 계정을 만들려면,
[% IF Param('emailsuffix') == '' %]
  정확한 이메일 주소를 입력하십시오.
[% ELSE %]
  [% Param('emailsuffix') %]를 뒤에 붙이면 당신이 이메일을 받을 수 있는 주소가 되는
  계정 아이디를 입력하십시오.
[% END %]
  당신에게 계정 생성을 확인하기 위해 입력한 주소로 이메일이 발송될 것입니다.
  <b>당신은 이메일을 받을 때 까지 로그인 할 수 없습니다.</b> 만약 이메일이 오랜 시간동안 도착하지
  않는다면, <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>
  에서 [% terms.Bugzilla %] 설치의 메인테이너에게 문의하십시오.
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  <b>프라이버시 공지:</b> [% terms.Bugzilla %] 은 오픈 [% terms.bug %]
  트래킹 시스템입니다. 이메일 주소를 포함하여 [% terms.bugs %] 에서 하는 대부분의 활동들은 공개적으로
  노출됩니다. 따라서 저희는 부가적인 계정이나 무료 이메일 서비스 (Gmail, Yahoo, Hotmail 등)를
  사용하여 당신의 주요한 이메일 주소에 스팸이 날라오는 것을 막을 수 있도록 하기를 <b>권장합니다</b>.
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table>
    <tr>
      <td align="right">
        <b>이메일 주소:</b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
  </table>
  <br>
  <input type="submit" id="send" value="Send">
</form>

[% PROCESS global/footer.html.tmpl %]
