[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # date: creation date of the token.
  #%]

[% title = BLOCK %]Create a new user account for '[% email FILTER html %]'[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

[% expiration_ts = date + (constants.MAX_TOKEN_AGE * 86400) %]
<div>
  사용자를 등록하기 위해서 반드시 아래쪽에 비밀번호를 입력해야 합니다.
  전자우편 주소와 실명(입력할 경우)은 변경 사항과 함께 보입니다.
</div>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th align="right">전자우편 주소:</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><small><i>(OPTIONAL)</i></small> <label for="realname">실명</label>:</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd1">비밀번호 입력</label>:</th>
      <td><input type="password" id="passwd1" name="passwd1" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd2">비밀번호 확인</label>:</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th align="right">&nbsp;</th>
      <td><input type="submit" id="confirm" value="보내기"></td>
    </tr>
  </table>
</form>

<p>
  입력 양식을 <u>[%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %]</u>까지
  작성하지 못하면, 사용자를 등록할 수 없습니다.
</p>

<p>
  현재 전자우편 주소로 사용자를 등록하지 않으려면,
  아래의 '사용자 등록 취소' 버튼을 누르세요.
  이 경우 입력한 나머지 정보는 잃어버립니다.
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="사용자 등록 취소">
</form>

[% PROCESS global/footer.html.tmpl %]
