[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # token_ts: creation date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% expiration_ts = token_ts + (constants.MAX_TOKEN_AGE * 86400) %]
From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: 사용자 등록 확인 전자우편
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %]에서 전자우편 주소([% email %])를
이용한 사용자 등록을 요청하셨습니다.

이 전자우편 주소로 사용자를 등록하려면,
[%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %]까지
다음 링크를 방문하세요:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=request_new_account

만약 이 전자우편을 [%+ time2str("%B %o, %Y at %H:%M %Z", expiration_ts) %]
후에 받으셨거나 다른 전자우편 주소로 사용자를 등록하고 싶다면,
다음 링크를 방문해서 처음부터 다시 시작할 수 있습니다:

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
개인정보 알림:
[% terms.Bugzilla %] 은/는 열린 [% terms.bug %] 추적 시스템입니다.
[% terms.bugs %]에서의 활동은 전자우편 주소를 포함해 외부에서 볼 수 있습니다.
따라서 부가적인 계정이나 무료 전자우편 서비스 (Gmail, Yahoo, Hotmail 등)를
사용해서 중요한 전자우편 주소에 스팸이 오는 것을 막는것이 좋습니다.
[% END %]

만약 사용자 등록을 하고 싶지 않거나, 이 요청이 오류로 발생했다면,
아무것도 하지 않아도 됩니다. 또는 다음 링크를 방문하세요:

[%+ urlbase %]token.cgi?t=[% token FILTER url_quote %]&a=cancel_new_account

위 링크가 들어갈 수 없거나, 사용자 관련 궁금한 점은,
[% Param('maintainer') %]로 관리자에게 연락하세요.

