[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Toms Baugis <toms@myrealbox.com>
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]
  
[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Log in to $terms.Bugzilla",
  onload = "document.forms['login'].Bugzilla_login.focus()"
%]

[% USE Bugzilla %]

<p>
  계속하기 위해 정확한 로그인 아이디와 열쇠글이 필요합니다.
</p>

<form name="login" action="[% target FILTER html %]" method="POST"
[%- IF Bugzilla.cgi.param("data") %] enctype="multipart/form-data"[% END %]>
  <table>
    <tr>
      <th align="right"><label for="Bugzilla_login">Login:</label></th>
      <td>
        <input size="35" id="Bugzilla_login" name="Bugzilla_login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
    <tr>
      <th align="right"><label for="Bugzilla_password">Password:</label></th>
      <td>
        <input type="password" size="35" id="Bugzilla_password" name="Bugzilla_password">
      </td>
    </tr>

    [% IF Param('rememberlogin') == 'defaulton' || 
          Param('rememberlogin') == 'defaultoff' %]
      <tr>
        <th>&nbsp;</th>
        <td>
          <input type="checkbox" id="Bugzilla_remember" name="Bugzilla_remember" value="on"
                 [%+ "checked" IF Param('rememberlogin') == "defaulton" %]>
          <label for="Bugzilla_remember">Remember my Login</label>
        </td>
      </tr>
    [% END %]

    [% IF Param('loginnetmask') < 32 %]
      <tr>
        <th>&nbsp;</th>
        <td>
          <input type="checkbox" id="Bugzilla_restrictlogin" name="Bugzilla_restrictlogin"
                 checked="checked">
          <label for="Bugzilla_restrictlogin">이 세션을 현재 아이피 주소로 제한하기
          (이 옵션을 사용하면 보안을 향상할 수 있음)</label>
        </td>
      </tr>
    [% END %]
  </table>

  [% PROCESS "global/hidden-fields.html.tmpl"
     exclude="^Bugzilla_(login|password|restrictlogin)$" %]

  <input type="submit" name="GoAheadAndLogIn" value="Log in" id="log_in">
  
  <p>
    (주의: 쿠키가 이 사이트에 대해 허용되어 있는지 확인하는 것이 좋습니다.
    그렇지 않으면, 당신은 주기적으로 로그인을 해야 할 수 있습니다.)
  </p>
</form>

[%# Allow the user to create a new account, or request a token to change
  # their password, assuming that our auth method allows that.
  #%]

  [% IF Param("createemailregexp") && user.authorizer.user_can_create_account %]
    <hr>

    <p>
      만약 [% terms.Bugzilla %] 계정을 가지고 있지 않다면, 지금
      <a href="createaccount.cgi">새 계정을 만들 수 있습니다</a>.
    </p>
  [% END %]

  [% IF user.authorizer.can_change_password %]
    <hr>

    <a name="forgot"></a>
    <form method="get" action="token.cgi">
      <input type="hidden" name="a" value="reqpw">
      이미 계정을 가지고 있지만 열쇠글을 잃어버리셨다면,
      아래에 로그인 이름을 입력하고 열쇠글 변경을 요청하십시오.<br>
      <input size="35" name="loginname">
      <input type="submit" id="request" value="Submit Request">
    </form>
  [% END %]

[% PROCESS global/footer.html.tmpl %]
