            <h1>발표 자료</h1>
            <div class="link">
              <h3>정규 발표 (Regular Talk)</h3>
              <ul>
                <li>
                  최신 스타일 Perl로 개과천선하기 (aero eq 강차훈)
                  [ <a href="[% c.config.url %]presentations/kpw2008_new_perl">Online</a> | <a href="[% c.config.url %]presentations/kpw2008_new_perl.zip">Download</a> ]
                </li>
                <li>
                  Perl Basic Skill Up (펄아비 eq 전종필)
                  [ <a href="http://www.perl.or.kr/article/perlbsu.html">Online (전종필님의 자세한 설명 포함 :)</a> | <a href="[% c.config.url %]presentations/KPW_Perl_Basic_Skill_Up.ppt">Download</a> ]
                </li>
                <li>
                  Location Prediction for Indoor Sensor Networks (verve eq 김동민)
                  [ <a href="[% c.config.url %]presentations/20080823_dmkim_location_prediction.pdf">Download</a> ]
                </li>
                <li>
                  Web2RSS with Perl (kiseok eq 김기석)
                  [ <a href="[% c.config.url %]presentations/Web2RSS_with_Perl.pdf">Download</a> ]
                </li>
                <li>
                  Introduction to Catalyst for Rapid Web Development (song eq 한송희)
                  [ <a href="[% c.config.url %]presentations/catalyst_basic">Online</a> ]
                </li>
                <li>
                  Gtk2-Perl을 사용한 크로스 플랫폼 GUI 환경 (keedi eq 김도형)
                  [ <a href="[% c.config.url %]presentations/cross_platform_gui_environment_with_gtk2_perl">Online</a> ] | [ <a href="[% c.config.url %]presentations/cross_platform_gui_environment_with_gtk2_perl.zip">Download</a> ]
                </li>
                <li>
                  Bioperl: The biological module of Perl language (Dr. Jong Bhak KOBIC, Daejeon, Korea eq 박종화 박사)
                  [ <a href="[% c.config.url %]presentations/Bioperl_Jong_Bhak_20080823.ppt">Download</a> ]
                </li>
                <li>
                  Perl &amp; Security Community - 보안에서 Perl 의 위치 (헐랭이 eq 배상우)
                </li>
                <li>
                  해커를 위한 Perl - Perl로 만든 익스플로잇 코드 살펴보기 (hy3okj1n eq 권혁진)
                </li>
                <li>
                  언어학을 위한 Perl (코퍼스 eq 김준홍)
                </li>
                <li>
                  perl 을 이용한 영상 오브젝트 추출 (sng2nara eq 김현승)
                  [ <a href="[% c.config.url %]presentations/Extraction_Movie_Object_with_Perl.pptx">Download</a> ]
                </li>
                <li>
                  즐거운 Perl 기억 남기기 - Parse::RecDescent (saillinux eq 김희원)
                </li>
              </ul>
             </div>
             <!-- link -->
             <div class="link">
              <h3>짧은 발표 (Lightening Talk)</h3>
              <ul>
                <li>
                  Practical Extraction and Report for NS2 (verve eq 김동민)
                  [ <a href="[% c.config.url %]presentations/20080823_dmkim_ns2_perl.pdf">Download</a> ]
                </li>
                <li>
                  당신은 이미 Perl 하고 있다 - 소스필터를 이용한 몰래 Perl 시키기 (saillinux eq 김희원)
                </li>
                <li>
                  RSS 번역기 만들기 (aero eq 강차훈)
                  [ <a href="[% c.config.url %]presentations/kpw2008_rss_translator">Online</a> ] | [ <a href="[% c.config.url %]presentations/kpw2008_rss_translator.zip">Download</a> ]
                </li>
                <li>
                  The Secret of Class::Data::Inheritable (song eq 한송희)
                  [ <a href="[% c.config.url %]presentations/class_data_inheritable">Online</a> ]
                </li>
                <li>
                  Javascript as Mini-lang on Perl (sng2nara eq 김현승)
                  [ <a href="[% c.config.url %]presentations/Javascript_as_Mini_lang_on_Perl.pptx">Download</a> ]
                </li>
                <li>
                  CPANning without Network Connection (keedi eq 김도형)
                  [ <a href="[% c.config.url %]presentations/cpanning_without_network_connection">Online</a> ] | [ <a href="[% c.config.url %]presentations/cpanning_without_network_connection.zip">Download</a> ]
                </li>
              </ul>
             </div>
	     <!-- link -->
