[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #                 Guy Pyrzak <guy.pyrzak@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% dontchange = "--do_not_change--" %]
<input type="hidden" name="dontchange" value="[% dontchange FILTER html %]">

<script type="text/javascript">
  var numelements = document.forms.changeform.elements.length;
  function SetCheckboxes(value) {
      var item;
      for (var i=0 ; i<numelements ; i++) {
          item = document.forms.changeform.elements[i];
          item.checked = value;
      }
  }
  document.write(' <input type="button" name="uncheck_all" value="Uncheck All" onclick="SetCheckboxes(false);">');
  document.write(' <input type="button" name="check_all" value="Check All" onclick="SetCheckboxes(true);">');
</script>

<hr>

<p style="font-size:smaller">
 여러 개의 [% terms.bugs %] 변경:</p>
<ol style="font-size:smaller">
  <li>위에서 변경하기를 원하는 [% terms.bugs %] 을/를 체크하세요.</li>
  <li>아래 칸에 변경할 내용을 넣으세요.
   변경할 내용에 대한 설명이 필요하면 의견란에 기입하세요.</li>
  <li><em>확인</em> 버튼을 누르세요.</li>
</ol>

<table id="form">
  <tr>

    <th><label for="product">제품:</label></th>
    <td>
      [% PROCESS selectmenu menuname = "product"
                            menuitems = products
                            property = "name" %]
    </td>

    <th><label for="version">버전:</label></th>
    <td>
      [% PROCESS selectmenu menuname = "version"
                            menuitems = versions
                            property = "" %]
    </td>

  </tr>
  <tr>

    <th><label for="component">구성 요소:</label></th>
    <td>
      [% PROCESS selectmenu menuname = "component"
                            menuitems = components %]
    </td>

    <th>
      <label for="priority">
        <a href="page.cgi?id=fields.html#priority">중요도</a>:
      </label>
    </th>
    <td>
      [% PROCESS selectmenu menuname = "priority"
                            menuitems = priorities %]
    </td>

  </tr>
  <tr>

    <th>
      <label for="rep_platform">
        <a href="page.cgi?id=fields.html#rep_platform">플랫폼</a>:
      </label>
    </th>
    <td>
      [% PROCESS selectmenu menuname = "rep_platform"
                            menuitems = platforms %]
    </td>

    <th>
      <label for="bug_severity">
        <a href="page.cgi?id=fields.html#bug_severity">엄격도</a>:
      </label>
    </th>
    <td>
      [% PROCESS selectmenu menuname = "bug_severity"
                            menuitems = severities %]
    </td>

  </tr>

  <tr>
    <th>
      <label for="op_sys">
        <a href="page.cgi?id=fields.html#op_sys">운영체제</a>:
      </label>
    </th>
    <td [% " colspan=\"3\"" IF !Param("usetargetmilestone") %]>
      [% PROCESS selectmenu menuname = "op_sys"
                            menuitems = op_sys %]
    </td>

    [% IF Param("usetargetmilestone") %]
      <th><label for="target_milestone">목표 지점:</label></th>
      <td>
        [% PROCESS selectmenu menuname = "target_milestone"
                              menuitems = targetmilestones %]
      </td>
    [% END %]
  </tr>
  
  <tr>
    <th><label for="bug_status">상태:</label></th>
    <td colspan="3">[% PROCESS status_section %]</td>
  </tr>
  [% IF user.in_group(Param("timetrackinggroup")) %]
    <tr>
      <th><label for="estimated_time">예상 시간:</label></th>
      <td>
        <input id="estimated_time"
               name="estimated_time"
               value="[% dontchange FILTER html %]"
               size="6">
      </td>
      <th><label for="deadline">마감일 (YYYY-MM-DD):</label></th>
      <td>
        <input id="deadline"
               name="deadline"
               value="[% dontchange FILTER html %]"
               size="10">
      </td>
    </tr>
    <tr>
      <th><label for="remaining_time">남은 시간:</label></th>
      <td>
        <input id="remaining_time"
               name="remaining_time"
               value="[% dontchange FILTER html %]"
               size="6">
      </td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  [% END %]

  <tr>
    <th><label for="assigned_to">할당받은 사람:</label></th>
    <td colspan="3">
      [% INCLUDE global/userselect.html.tmpl
           id => "assigned_to"
           name => "assigned_to"
           value => dontchange
           do_not_change => dontchange
           size => 32
      %]
      <input type="checkbox" id="set_default_assignee" name="set_default_assignee" value="1">
      <label for="set_default_assignee">할당받은 사람을 기본값으로 초기화</label>
    </td>
  </tr>

  [% IF Param("useqacontact") %]
    <tr>
      <th><label for="qa_contact">QA 연락처:</label></th>
      <td colspan="3">
        [% INCLUDE global/userselect.html.tmpl
             id => "qa_contact"
             name => "qa_contact"
             value => dontchange
             do_not_change => dontchange
             size => 32
        %]
        <input type="checkbox" id="set_default_qa_contact" name="set_default_qa_contact" value="1">
        <label for="set_default_qa_contact">QA 연락처를 기본값으로 초기화</label>
      </td>
    </tr>
  [% END %]

  <tr>

    <th><label for="masscc">참조 목록:</label></th>
    <td colspan="3">
      <input id="masscc" name="masscc" size="32">
      <select name="ccaction">
        <option value="add">참조 목록에 더하기</option>
        <option value="remove">참조 목록에서 지우기</option>
      </select>
    </td>

  </tr>

  [% IF use_keywords %]
    <tr>

      <th>
        <label for="keywords">
          <a href="describekeywords.cgi">주요 단어</a>:
        </label>
      </th>
      <td colspan="3">
        <input id="keywords" name="keywords" size="32" 
               onfocus = "this.chooser.open();">
        <select name="keywordaction">
          <option value="add">주요 단어 더하기</option>
          <option value="delete">주요 단어 지우기</option>
          <option value="makeexact">주요 단어를 해당 목록에 맞게 만들기</option>
        </select>
      </td>

    </tr>
  [% END %]

  [% IF Param('usestatuswhiteboard') %]
    <tr>
      <td align="right">
        <b>상황판:</b>
      </td>
      <td colspan="7">
        <input name="status_whiteboard" 
               value="[% dontchange FILTER html %]" size="60">
      </td>
    </tr>
  [% END %]

  [% USE Bugzilla %]
  [% FOREACH field = Bugzilla.active_custom_fields %]
    <tr>
      [% PROCESS bug/field.html.tmpl value = dontchange
                                     editable = 1
                                     allow_dont_change = 1 %]
    </tr>
  [% END %]

</table>

[% IF use_keywords %]
  [% PROCESS "bug/keyword-chooser.html.tmpl"
    sel_keywords = keywords.split(', ')
  %]
[% END %]

<b><label for="comment">추가 의견:</label></b><br>
[% INCLUDE global/textarea.html.tmpl
  name    = 'comment'
  id      = 'comment'
  minrows = 5
  maxrows = 25
  cols    = constants.COMMENT_COLS
%]<br>

[% IF groups.size > 0 %]

  <b>그룹:</b><br>
  <table border="1">
    <tr>
      <th>해당 그룹의<br>제한 조건을<br>변경하지<br>마세요</th>
      <th>해당 그룹의<br>[% terms.bugs %]<br>지우기</th>
      <th>해당 그룹에<br>[% terms.bugs %]<br>더하기</th>
      <th>그룹 이름:</th>
    </tr>

    [% FOREACH group = groups %]
    <tr>
      <td align="center">
        <input type="radio" name="bit-[% group.id %]" value="-1" checked="checked">
      </td>
      <td align="center">
        <input type="radio" name="bit-[% group.id %]" value="0">
      </td>
      [% IF group.is_active %]
        <td align="center">
          <input type="radio" name="bit-[% group.id %]" value="1">
        </td>
      [% ELSE %]
        <td>&nbsp;</td>
        [% foundinactive = 1 %]
      [% END %]

      <td>
        [% SET inactive = !group.is_active %]
        [% group.description FILTER html_light FILTER inactive(inactive) %]
      </td>

    </tr>
    [% END %]

  </table>

  [% IF foundinactive %]
    <p style="font-size:smaller">(주의: [% terms.Bugs %] 을/를 [% FILTER inactive %] 비활성 그룹에 더하지 않을 수도 있음[% END %], 지우기만 함.)</p>
  [% END %]

[% END %]
<input type="submit" id="commit" value="Commit">

[% IF Param('move-enabled') && user.is_mover %]
  <input type="submit" name="action" id="action" value="[% Param('move-button-text') %]">
[% END %]

[%############################################################################%]
[%# Select Menu Block                                                        #%]
[%############################################################################%]

[% BLOCK selectmenu %]
  <select id="[% menuname %]" name="[% menuname %]">
    <option value="[% dontchange FILTER html %]" selected="selected">
      [% dontchange FILTER html %]
    </option>
    [% FOREACH menuitem = menuitems %]
      [% IF property %][% menuitem = menuitem.$property %][% END %]
      <option value="[% menuitem FILTER html %]">[% menuitem FILTER html %]</option>
    [% END %]
  </select>
[% END %]

[%############################################################################%]
[%# Status Block                                                             #%]
[%############################################################################%]

[% BLOCK status_section %]
  [% all_open_bugs = !current_bug_statuses.containsany(closedstates) %]
  [% all_closed_bugs = !current_bug_statuses.containsany(openstates) %]
  [% closed_status_array = [] %]
  
  <select name="bug_status" id="bug_status"> 
    <option value="[% dontchange FILTER html %]" selected="selected">[% dontchange FILTER html %]</option>
  
    [% FOREACH bug_status = new_bug_statuses %]
      <option value="[% bug_status.name FILTER html %]">
        [% get_status(bug_status.name) FILTER html %]
      </option>
      [% IF !bug_status.is_open %]
        [% filtered_status =  bug_status.name FILTER js %]
        [% closed_status_array.push( filtered_status ) %]
      [% END %]
    [% END %]
  
  [%# If all the bugs being changed are closed, allow the user to change their resolution. %]
  [% IF all_closed_bugs %]
    [% filtered_status = dontchange FILTER js %]
    [% closed_status_array.push( filtered_status ) %]
  [% END %]
  </select>
  
  <span id="resolution_settings">
  <select id="resolution" name="resolution">
      <option value="[% dontchange FILTER html %]" selected >[% dontchange FILTER html %]</option>
    [% FOREACH r = resolutions %]
      [% NEXT IF !r %]
      [% NEXT IF r == "DUPLICATE" || r == "MOVED" %]
      <option value="[% r FILTER html %]">[% get_resolution(r) FILTER html %]</option>
    [% END %]
  </select>
  </span>

  <script type="text/javascript">
  var close_status_array = new Array("[% closed_status_array.join('", "') FILTER none %]");
    YAHOO.util.Event.addListener('bug_status', "change", showHideStatusItems, '[% "is_duplicate" IF bug.dup_id %]');
    YAHOO.util.Event.onDOMReady( showHideStatusItems );
  </script>

[% END %]
