[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # added_quip: string. Defined if the CGI added a quip data before
  #                displaying anything; if defined, its value is that quip.
  # show_quips: boolean. True if we are showing the entire quip list.
  # quips: list of strings. Defined if and only if show_quips is true.
  #                List of all quips.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "$terms.Bugzilla Quip System"
           header = "여러분만의 창의적인 주요 제목을 더하세요."
 %]

[% IF added_quip %]
  <p>
    <font color="red">
      입력하신 '<tt>[% added_quip FILTER html %]</tt>'를 더했습니다.
      [% IF Param("quip_list_entry_control") == "moderated" AND !user.groups.admin %]
        approved 하면 곧 사용할 것입니다.
      [% END %]
    </font>
  </p>
[% END %]

[% IF deleted_quip %]
  <p>
    <font color="red">
      '<tt>[% deleted_quip FILTER html %]</tt>' 가벼운 글귀를 지웠습니다.
    </font>
  </p>
[% END %]

[% IF approved or unapproved %]
  <p>[% approved.size %] 개의 가벼운 글귀를 확인했습니다. [% unapproved.size %] 개의 가벼운 글귀는 확인하지 못했습니다.</p>
[% END %]


<p>
  [% terms.Bugzilla %]의 [% terms.bug %] 목록 주요 제목에
  임의의 가벼운 글귀를 보여줄 것입니다.
</p>

[% IF Param("quip_list_entry_control") != "closed" %]
  <p>
    가벼운 글귀 목록을 확장할 수 있습니다. 반짝이거나 재미있거나,
    지루한(obscence 하거나 공격적이지 않은 내용으로 부탁합니다.)
    내용을 넣고 버튼을 눌러주세요.
    [% IF Param("quip_list_entry_control") == "moderated" AND !user.groups.admin %]
      여러분의 가벼운 글귀는 사용하기 전에 확인받아야 합니다.
    [% END %]
  </p>

  <form method="post" action="quips.cgi">
    <input type="hidden" name="action" value="add">
    <input size="80" name="quip">
    <p>
      <input type="submit" id="add" value="입력한 가벼운 글귀를 더하기">
    </p>
  </form>
[% ELSE %]
  <p>이번에는 새로운 항목을 제출하지 않을 것입니다.
  </p>
[% END %]

[% IF show_quips %]
  [% IF !user.in_group('admin') %]
    <h2>
      존재하는 가벼운 글귀:
    </h2>
    <ul>
      [% FOREACH quipid = quipids %]
        [% NEXT IF NOT quips.$quipid.approved %]
        <li>[% quips.$quipid.quip FILTER html %]</li>
      [% END %]
    </ul>
  [% ELSE %]
    <h2>존재하는 가벼운 글귀 고치기:</h2>
    <p>
      <strong>주의:</strong> 확인한 가벼운 글귀만 나타납니다.
      'quip_list_entry_control' 인자를 <q>open</q>으로 설정할 경우
      입력하는 가벼운 글귀를 자동으로 확인합니다.
    </p>
    <form name="editform" method="post" action="quips.cgi">
      <input type="hidden" name="action" value="approve">
      <table border="1">
        <thead><tr>
          <th>가벼운 글귀</th>
          <th>저자</th>
          <th>동작</th>
          <th>확인</th>
        </tr></thead><tbody>
        [% FOREACH quipid = quipids %]
          <tr>
            <td>[% quips.$quipid.quip FILTER html %]</td>
            <td>
              [% userid = quips.$quipid.userid  %]
              [% users.$userid FILTER html      %]
              [% "Unknown" IF NOT users.$userid %]
            </td>
            <td>
              <a href="quips.cgi?action=delete&amp;quipid=[% quipid FILTER url_quote %]">
                지우기
              </a>
            </td>
            <td>
              <input type="checkbox" name="quipid_[% quipid FILTER html %]"
                     id="quipid_[% quipid FILTER html %]"
                     [%- ' checked="checked"' IF quips.$quipid.approved %]>
            </td>
          </tr>
        [% END %]
        </tbody>
      </table>
      <script type="text/javascript"><!--
        var numelements = document.forms.editform.elements.length;
        function SetCheckboxes(value) {
          var item;
          for (var i=0 ; i<numelements ; i++) {
            item = document.forms.editform.elements[i];
            item.checked = value;
          }
        }
        document.write(' <input type="button" name="uncheck_all" '
                      +'value="모두 해제" onclick="SetCheckboxes(false);">');
        document.write(' <input type="button" name="check_all" '
                      +'value="모두 선택" onclick="SetCheckboxes(true);">');
        //--></script>

      <input type="submit" id="update" value="변경 저장">
    </form>
    <br>
  [% END %]
[% ELSE %]
  <p>
    Those who like their wisdom in large doses can
    <a href="quips.cgi?action=show">
    모든 가벼운 글귀 목록 보기
    [% IF user.in_group('admin') %]
      그리고 고치기
    [% END %]
    </a>
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
