            <h1>등록확인</h1>
            <div class="news">
              <p><em>[% user.name %]</em> 님,</p> 
              <p>
                등록해주셔서 감사합니다<br/>
                현재 [% user.name %] 님의 등록상태는 [% c.config.status.${user.confirm} %] 입니다.
              <p>
              <ul>
                <li><span class="property">wait</span>: 메일을 발송. 가등록 상태</li>
                <li><span class="property">reserv</span>: 메일 확인끝. 참가비 확인 상태</li>
                <li><span class="property">complete</span>: 참가비 확인 끝 - 참가티켓 양식 표시</li>
              </ul> 
            </div>
