          <div class="widthsponsors float_left">
            <div class="sponsors">
              <h2>Sponsors</h2>

              <div id="gold-sponsors">
                <h3>Gold Sponsors</h3>
                <ul>
                  <li> <img src="images/banners/nhn.png" /> </li>
                </ul>
              </div>

              <div id="silver-sponsors">
                <h3>Silver Sponsors</h3>
                <ul>
                  <li> <img src="images/banners/FOSSA.png" /> </li>
                </ul>
              </div>

              <div id="bronze-sponsors">
                <h3>Bronze Sponsors</h3>
                <ul>
                  <li> <img src="images/banners/hanbit.png" /> </li>
                </ul>
              </div>

              <div id="community-sponsors">
                <h3>Community Sponsors</h3>
                <ul>
                  <li> <img src="images/banners/kldp.png" /> </li>
                  <li> <img src="images/banners/perlmania.png" /> </li>
                  <li> <img src="images/banners/perlorkr.png" /> </li>
                </ul>
              </div>

            </div> <!-- sponsors -->
