      <div id="footer">
        <div class="box box_bottom">
          <div class="info">
            <h2>Korean Perl Workshop</h2>
            <div>
              <span><a href="http://groups.google.com/group/perl-kr-conf-2008">메일링리스트 가입</a></span> |
              <span><a href="mailto:keedi.k _AT_ gmail _DOT_ com">기타 문의</a></span>
            </div>
          </div>
          <div class="info">
            <h2>.</h2>
          </div>
          <div class="info">
            <h2>.</h2>
          </div>
        </div>
        <div id="copyright">Copyright &copy; Seoul Perl Mongers, Korea. All rights reserved.</div>
      </div>
