            <h1>사전등록</h1>
[% IF waits.size %]
            <div class="news">
              <h3>현재 등록시 대기자 명단으로 올라갑니다!</h3>
              <p>
                현재 총인원 80명중 발표자 및 스폰서 예약 쿼터를 제외한
                [% users.size %]분의 신청 가능 공간이 모두 찼습니다.
                일단 선착순 [% users.size %]분은 사전등록 완료 상태이시며,
                [% users.size + 1 %]번째 부터 등록하신 [% waits.size %] 분들부터는
                대기자 명단에 들어가신 상태입니다.
              </p>
              <p>
                행사 3일 전까지 1차 등록자 분들 중에서 입금하지 않으시거나
                참가 포기를 하시는 경우 남는 슬롯은 2차 등록시
                대기자 명단의 순서대로 넘어갑니다.
                이때는 저희가 메일 또는 휴대폰으로 대기자분들께 직접
                연락을 드리는 방식으로 2차 등록을 진행할 예정입니다!
              </p>
            </div>
[% END %]
            <div class="news">
              <h3>쿼터 참석자분들은 따로 신청받습니다!</h3>
              <p>
                발표자 및 스폰서 쿼터를 통해 참석하시는 분들께서는
                아래 신청양식을 이용하지 마시고 신청을 대행해주시는
                담당자 분들을 통해 참석 신청 해주시기 바랍니다. :-)
              </p>
            </div>
            <div class="form">
              <h3>신청양식</h3>
              <p><span class="required">*</span>는 필수입니다.</p>
[% IF form_messages %]
              <ul class="error">
[% FOREACH msg IN form_messages %]
                <li>[% c.config.messages.${msg.key}.${msg.value} %]</li>
[% END %]
              </ul>
[% END %] 
              <form action="[% c.config.url %]register/do" method="post" id="register-form">
                <fieldset>
                  <legend>사전등록</legend>
                  <dl>
                    <dt><span class="required">*</span><label for="email">email</label>:&nbsp;</dt><dd><input type="text" name="email" size="30" id="email" class="long" /></dd>
                    <dt><span class="required">*</span><label for="password">비밀번호</label>:&nbsp;</dt><dd><input type="password" name="password" size="10" id="password" class="medium" /></dd>
                    <dt><span class="required">*</span><label for="password_confirm">비밀번호(확인)</label>:&nbsp;</dt><dd><input type="password" name="password_confirm" size="10" id="password_confirm" class="medium" /></dd>
                    <dt><span class="required">*</span><label for="name">이름</label>:&nbsp;</dt><dd><input type="text" name="name" size="10" id="name" class="medium" /></dd>
                    <dt><span class="required">*</span><label for="nickname">닉네임</label>:&nbsp;</dt><dd><input type="text" name="nick" size="10" id="nickname" class="medium" /></dd>
                    <dt><span class="required">*</span><label for="mobile">휴대전화</label>:&nbsp;</dt><dd><dd><input type="text" name="phone" size="20" id="mobile" class="medium" /></dd>

                    <dt><span class="required">*</span>티셔츠 사이즈:&nbsp;</dt>
                    <dd>
                      <select name="tshirt" class="short">
                        <option value=""></option>
                        <option value="S(85)">S(85)</option>
                        <option value="M(90)">M(90)</option>
                        <option value="L(95)">L(95)</option>
                        <option value="XL(100)">XL(100)</option>
                        <option value="XXL(105)">XXL(105)</option>
                        <option value="XXXL(110)">XXXL(110)</option>
                      </select>
                    </dd>
                    <dt><span class="required">*</span>직업:&nbsp;</dt>
                    <dd>
                      <select name="type" class="short">
                        <option value=""></option>
                        <option value="worker">사회인</option>
                        <option value="student">학생 및 청소년</option>
                      </select>
                    </dd>
                    <dt><label for="location">소속</label>:&nbsp;</dt>
                    <dd><input type="text" name="location" size="50" id="location" class="long" /></dd>
                    <dt><label for="comment">코멘트</label>:&nbsp;</dt>
                    <dd><textarea rows="5" id="comment" name="comment" class="long"></textarea></dd>
                  </dl>
                  <div class="button"><input type="submit" value="신청" /></div>
                </fieldset>
              </form>
            </div>

            <!-- 신청자 명단 -->
            <div class="registration" id="status">
              <h3>신청자 명단</h3>
              <p>현재 <em>[% users.size || 0 %]</em>명 등록중입니다.</p>
              <table cellpadding="0" cellspacing="1" border="0">
                <tr class="confirmed">
                  <td class="text">입금 내역을 확인한 분의 색깔 입니다.</td>
                </tr>
              </table>
[% IF users.size %]
              <table cellpadding="0" cellspacing="1" border="0" summary="신청자">
                <caption>신청자</caption>
                <thead>
                  <tr>
                    <th>no</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>코멘트</th>
                  </tr>
                </thead>
                <tbody>
[% FOREACH user IN users %]
                  <tr[% ' class="confirmed"' IF user.confirm == 'complete' || user.confirm == 'speaker' || user.confirm == 'sponsor' %]>
                    <td class="number">[% loop.count %]</td>
                    <td>[% user.name | html %]</td>
                    <td>[% user.nick | html %]</td>
                    <td class="text">[% user.comment | html | html_line_break %]</td>
                  </tr>
[% END %]
                </tbody>
              </table>
[% END %]
            </div>

            <!-- 대기자 명단 -->
            <div class="registration" id="status">
              <h3>대기자 명단</h3>
              <p>현재 <em>[% waits.size || 0 %]</em>명이 등록 대기입니다.</p>
[% IF waits.size %]
              <table cellpadding="0" cellspacing="1" border="0" summary="대기자">
                <caption>대기자</caption>
                <thead>
                  <tr>
                    <th>no</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>코멘트</th>
                  </tr>
                </thead>
                <tbody>
[% FOREACH user IN waits %]
                  <tr>
                    <td class="number">[% loop.count %]</td>
                    <td>[% user.name | html %]</td>
                    <td>[% user.nick | html %]</td>
                    <td class="text">[% user.comment | html | html_line_break %]</td>
                  </tr>
[% END %]
                </tbody>
              </table>
[% END %]
            </div>

            <!-- 발표자 명단 -->
            <div class="registration" id="status">
              <h3>발표자 명단</h3>
              <p>현재 <em>[% speakers.size || 0 %]</em>명의 발표자가 참석할 예정입니다.</p>
[% IF speakers.size %]
              <table cellpadding="0" cellspacing="1" border="0" summary="발표자">
                <caption>발표자</caption>
                <thead>
                  <tr>
                    <th>no</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>코멘트</th>
                  </tr>
                </thead>
                <tbody>
[% FOREACH user IN speakers %]
                  <tr[% ' class="confirmed"' IF user.confirm == 'complete' || user.confirm == 'speaker' || user.confirm == 'sponsor' %]>
                    <td class="number">[% loop.count %]</td>
                    <td>[% user.name | html %]</td>
                    <td>[% user.nick | html %]</td>
                    <td class="text">[% user.comment | html | html_line_break %]</td>
                  </tr>
[% END %]
                </tbody>
              </table>
[% END %]
            </div>

            <!-- 스폰서 참석 명단 -->
            <div class="registration" id="status">
              <h3>스폰서 참석 명단</h3>
              <p>현재 <em>[% sponsors.size || 0 %]</em>명이 스폰서 쿼터로 참석합니다.</p>
[% IF sponsors.size %]
              <table cellpadding="0" cellspacing="1" border="0" summary="스폰서 참석자">
                <caption>스폰서 참석자</caption>
                <thead>
                  <tr>
                    <th>no</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>코멘트</th>
                  </tr>
                </thead>
                <tbody>
[% FOREACH user IN sponsors %]
                  <tr[% ' class="confirmed"' IF user.confirm == 'complete' || user.confirm == 'speaker' || user.confirm == 'sponsor' %]>
                    <td class="number">[% loop.count %]</td>
                    <td>[% user.name | html %]</td>
                    <td>[% user.nick | html %]</td>
                    <td class="text">[% user.comment | html | html_line_break %]</td>
                  </tr>
[% END %]
                </tbody>
              </table>
[% END %]
            </div>
