            <h1>FAQ (자주 묻는 질문)</h1>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 행사 등록비가 무엇인가요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                  현장 등록비는 청소년 및 학생(대학원생 포함)은 1만원,
                  그외의 경우(직장인) 2만원 입니다. 사전 등록을 하실 경우
                  50%의 할인 혜택이 있습니다.
                  행사 10일 전부터 사전 등록을 시작하며 선착순 마감 예정입니다.
                </p>
                <ul>
                  <b>등록비 :</b>
                  <li> <b>사전등록</b>: 청소년 및 학생(대학원생 포함)  5,000원 직장인 10,000원 </li>
                  <li> <b>현장등록</b>: 청소년 및 학생(대학원생 포함) 10,000원 직장인 20,000원 </li>
                </ul>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 사전 등록을 하고 입금을 한 후에 행사 당일 불참아면 어떻게 되나요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                    입금완료 후 참가 확정을 하신 상태에서 혹시라도 워크샵 당일 행사에
                    참석하지 못하신 경우 등록비는 환불이 되지 않으나 대신
                    KPW 기념 티셔츠와 기념품을 같이 배송해드립니다.
                </p>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 행사 참석 가능 인원은 몇 명인가요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                    80명입니다. 80명 중에서 발표자와 스폰서 쿼터를 적용할 경우
                    현재 약 50명이 일반 참가자로 참석 가능합니다.
                    
                </p>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 노트북을 가져가려고 합니다. 행사장에서 전원을 이용할 수 있나요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                    사용 가능합니다. 현재 최소 30개의 컨센트를 이용할 수 있게 배치할
                    예정입니다. 그럼에도 불구하고 전원 컨센트가 부족할 경우 행사진행
                    요원에게 문의 바랍니다.
                </p>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 행사 방문을 위한 주차가 가능한지 알고 싶습니다.
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                  행사장 주차 공간이 협소하오니 인근 공영 주차장을 이용
                  부탁드립니다. 강남역 주변은 상습적으로 교통이 혼잡한
                  곳이므로 가급적 대중 교통을 이용해주시기 바랍니다.
                </p>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 식사 제공이 있나요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                  저녁 식사로 샌드위치를 제공합니다.
                  간단한 부식과 음료도 이용하실 수 있습니다.
                </p>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 인터넷 사용이 가능한가요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                  무선 인터넷 접속을 제공할 예정입니다. 유선 인터넷이
                  필요하신 분은 당일 행사진행 요원에게 문의 바랍니다.
                </p>
              </div>
            </div>
            <div class="faq">
              <p class="question">
                <b>Q:</b> 행사 진행후 뒷풀이가 있는지요?
              </p>
              <div class="answer">
                <p>
                  <b>A:</b>
                  워크샵은 오후 1시에 시작해서 약 8 ~ 9 시간 가량 진행할
                  예정입니다. 마치는 시각이 저녁 9 시쯤으로 늦게 마치기
                  때문에 현재 공식적인 뒷풀이 계획은 없습니다.
                </p>
              </div>
            </div>
