            <h1>후기</h1>
            <div class="form">
              <h2>후기를 모집합니다!</h2>
	      <p>
		후기를 모집합니다.
	      </p>
              <p><span class="required">*</span>는 필수입니다.</p>
[% IF form_messages %]
              <ul class="error">
[% FOREACH msg IN form_messages %]
                <li>[% c.config.messages.${msg.key}.${msg.value} %]</li>
[% END %]
              </ul>
[% END %] 
              <form action="[% c.config.url %]epilogue/do" method="post" id="register-form">
                <fieldset>
                  <legend>코멘트</legend>
                  <dl>
                    <dt><span class="required">*</span><label for="email">email</label>:&nbsp;</dt>
		    <dd><input type="text" name="email" size="30" id="email" class="long" /></dd>
                    <dt><label for="password">비밀번호</label>:&nbsp;</dt>
		    <dd><input type="password" name="password" size="10" id="password" class="medium" /></dd>
		    <dt><label for="name">이름(닉네임)</label>:&nbsp;</dt>
		    <dd><input type="text" name="name" size="30" id="name" class="long" /></dd>
		    <dt><label for="title">제목</label>:&nbsp;</dt>
		    <dd><input type="text" name="title" size="30" id="title" class="long" /></dd>
                    <dt><span class="required">*</span><label for="comment">코멘트</label>:&nbsp;</dt>
                    <dd><textarea rows="5" id="comment" name="content" class="long"></textarea></dd>
                  </dl>
                  <div class="button"><input type="submit" value="작성" /></div>
                </fieldset>
              </form>
            </div>
	    <div class="list"> 
	      <h3>등록된 후기</h3>
	      <dl>
[% FOREACH epilogue IN epilogues %]
		<dt class="title">[% epilogue.title ? epilogue.title : '제목없음' %]</dt>
		<dd>[% epilogue.content | html | html_line_break %]</dd>
		<dd class="meta">[% epilogue.created_on %]</dd>
		<dd class="meta">[% epilogue.name ? epilogue.name : epilogue.email %]님</dd>
[% END %]
	      </dl>
	    </div>
	    <div class="link">
              <h3>kpw2008 후기 모음</h3>
	      <ul>
		<li><a href="http://jin6093.egloos.com/4569886">http://jin6093.egloos.com/4569886</a></li>
		<li><a href="http://iklo.egloos.com/4570027">http://iklo.egloos.com/4570027</a></li>
		<li><a href="http://lieps.tistory.com/2511313">http://lieps.tistory.com/2511313</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6596&page=1">후기입니다 발표하신분들 정말 수고하셨습니다.</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6598&page=1">어제 정말 즐거웠습니다.</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6599&page=1">[워크샵] 진흙 속에서 진주를 찾아낸 듯한! 세미나!</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6600&page=1">워크샵 준비에 수고가 많으셨습니다.</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6602&page=1">저도 웍썁 너무 좋았습니다.</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6603&page=1">늦었지만 펄워크샾 잼있었습니다.</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6604&page=1">워크샵 많이 배웠습니다.</a></li>
		<li><a href="http://park1020.tistory.com/298">http://park1020.tistory.com/298</a></li>
		<li><a href="http://www.perlmania.or.kr/bbs/bbs.html?mode=read&table=free&article=6612&page=1">펄 워크샵 재밌게 들었습니다.</a></li>
		<li><a href="http://blog.naver.com/dekaf/40054438873">http://blog.naver.com/dekaf/40054438873</a></li>
	      </ul>
	    </div>
	    <div class="link">
              <h3>사진모음</h3>
	      <ul>
		<li><a href="http://park1020.tistory.com/298">http://park1020.tistory.com/298</a></li>
	      </ul>
	    </div>
