/* navigation */ 
#navigation a.selected {
    font-weight: bold;
    color: yellow;
}

/* main */
.news, .schedule, .location, .faq, .link, .form, .registration {
    margin-bottom: 1.5em;
}
#main .meta {
    font-size: 0.8em;
    color: #555555;
    text-align: right;
}
#main .meta_top {
    margin-top: -20px;
    border: none;
}
#main .map {
    text-align: center;
}
#main .map img {
    margin: 0.5em;
}
#main .faq {
    padding: 1em 0 0 1em;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid none none solid;
}
#main .faq .answer {
    margin-top: 1em;
}
#main .form dl {
    line-height: 1.5em;
}
#main .form dl dt {
    float: left;
    margin: 0 0.5em 0 0;
    width: 20%;
    text-align: right;
    font-weight: bold;
}
#main .form dl dd {
    margin: 0 0 0.5em 0;
}
#main .form .button {
    margin: 0.5em auto;
    padding: 0.5em 0pt;
    text-align: center;
}
#main .form .button input {
    width: 10em;
}
#main .required {
    margin-right: 0.3em;
    color: #c00f0f;
    font-weight: bold;
}
#main .registration table {
    border:1px solid #AAAAAA;
    font-size: inherit;
    font: 100%;
}
#main .registration tr {
    background-color: #ffffff;
}
#main .registration th, td {
    border-color:#EFEFEF rgb(170, 170, 170) rgb(170, 170, 170) rgb(239, 239, 239);
    border-style:solid;
    border-width:1px;
    font-weight: normal;
    padding: 0.4em 0.7em;
}
#main .registration th, tbody th {
    background-color: #eeeeee;
    vertical-align: middle;
}
#main .registration thead th {
    background-color: #eeeeee;
    text-align: center;
    font-weight: bold;
    width: auto;
}
#main table {
    width: 100%;
}
#main table tr.confirmed td {
    background-color: #eeffff;
    font-weight: bold;
}
#main table tr.confirmed td.text {
    font-weight: normal;
}
#main table td.number {
    width: 5%;
    text-align: center;
}
#main table td.email {
    width: 25%;
}
#main table td.text {
    width: 45%;
}
#main table td.button {
    text-align: center;
}

/* sponsors */
#sponsors {
    background: white;
    text-align: center;
}

#sponsors h2 {
    margin: auto;
    padding: 0.8em 0;
    font-size: 1em;
    font-weight: normal;
    color: #777777;
}
#sponsors h3 {
    margin: 0 1em;
    padding: 0.8em;
    background-color: #777777;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
}
#sponsors ul, #sponsors ol {
    margin: 1em;
    padding: 0px;
}
#sponsors ul li, #sponsors ol li {
    margin: 0 0 0.5em;
}
#sponsors a {
    margin: 0 auto;
    width: 120px;
}

/* footer */ 
#footer div.info {
    overflow: hidden;
    word-wrap: break-word;
}
#footer div.info h2 {
    margin: 0 20px;
    border-bottom: 1px dotted #eeeeee;
    font-size: 1em;
    font-weight: bold;
}
#footer div.info div {
    margin: 5px 20px 0 20px;
    color: #dddddd;
}